@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Sofia+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300;400;600;700&display=swap');
img{
    max-width: 100%;
}
.main{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    justify-items: center;
    overflow-x: hidden;
}
.country-card{
    display: grid;
    margin-top: 2rem;
    grid-template-rows: 0.45fr 0.55fr;
    font-size:18px;
    box-shadow: 5px 5px 8px #ebebeb;
    border-radius: 5px;
    width: 300px;
    height: 350px;
    padding: 0 20px 0 20px;
}
.country-img img{
    width: 100%;
     border-radius: 5px 5px 0px 0px;
     height: 150px;
     margin-bottom: 20px;
}
.country-info{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.country-info label:first-child{
    margin-bottom:15px;
    font-size: 20px;
    font-weight: 700;
}
.country-info label:nth-child(2){
    margin-bottom:5px;
}
.country-info label:nth-child(3){
    margin-bottom:5px;
}